              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/posts/spark.html">
                      Spark
                    </a>
                  </li>
                  <li>
                    <a href="/posts/aws.html">
                      Amazon AWS
                    </a>
                  </li>
                  <li>
                    <a href="/posts/rasperberrypi.html">
                      RasperBerry Pi
                    </a>
                  </li>
                  <li>
                    <a href="/archives.html">
                      Archives
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/posts/kafka.html">
                      Apache Kafka
                    </a>
                  </li>                  
				  <li>
                    <a href="/posts/springboot.html">
                      Spring Boot
                    </a>
                  </li>
                  <li>
                    <a href="/posts/springcloud.html">
                     Spring Cloud
                    </a>
                  </li>
                  <li>
                    <a href="/tags.html">
                      Tags
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
